@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* baseline-alt */

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		containers: 80em,
		grid: ( gutters: 2em ),
		breakpoints: (
			large: (
				containers: 65em,
				grid: ( gutters: 1.5em )
			),
			medium: (
				containers: 90%
			),
			small: (
				containers: (90%, true),
				grid: ( gutters: 1.25em )
			)
		)
	));

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-section($p);
		@include color-table($p);
	}

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/pager';
	@import 'components/section';
	@import 'components/table';
	@import 'components/thumbnail';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/menu';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/footer';