@charset "UTF-8";
@import url(font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* baseline-alt */
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Basic */
@-ms-viewport {
  width: device-width; }
body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
body {
  background: #fff; }
  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

/* Type */
body {
  background-color: #fff;
  color: #444; }

body, input, select, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: normal;
  line-height: 1.65; }
  @media screen and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 11pt; } }
  @media screen and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 11pt; } }
  @media screen and (max-width: 980px) {
    body, input, select, textarea {
      font-size: 12pt; } }
  @media screen and (max-width: 736px) {
    body, input, select, textarea {
      font-size: 12pt; } }
  @media screen and (max-width: 480px) {
    body, input, select, textarea {
      font-size: 12pt; } }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 1em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.35em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.7em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  border-radius: 4px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2em 0; }
  hr.major {
    margin: 3em 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

input, select, textarea {
  color: #555; }

a {
  color: #5AA6ED; }

strong, b {
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  color: #555; }

blockquote {
  border-left-color: rgba(144, 144, 144, 0.25); }

code {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25); }

hr {
  border-bottom-color: rgba(144, 144, 144, 0.25); }

/* Box */
.box {
  border-radius: 4px;
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em; }
  .box > :last-child,
  .box > :last-child > :last-child,
  .box > :last-child > :last-child > :last-child {
    margin-bottom: 0; }
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0; }

.box {
  border-color: rgba(144, 144, 144, 0.25); }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="button"].icon,
  button.icon,
  .button.icon {
    padding-left: 1.35em; }
    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
      margin-right: 0.5em; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8em; }
  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 1.35em; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25; }
  @media screen and (max-width: 736px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      padding: 0; } }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #3a3a3a;
  color: #ffffff !important; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: #474747; }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: #2d2d2d; }
  input[type="submit"].alt,
  input[type="reset"].alt,
  input[type="button"].alt,
  button.alt,
  .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #555 !important; }
    input[type="submit"].alt:hover,
    input[type="reset"].alt:hover,
    input[type="button"].alt:hover,
    button.alt:hover,
    .button.alt:hover {
      background-color: rgba(144, 144, 144, 0.075); }
    input[type="submit"].alt:active,
    input[type="reset"].alt:active,
    input[type="button"].alt:active,
    button.alt:active,
    .button.alt:active {
      background-color: rgba(144, 144, 144, 0.2); }
    input[type="submit"].alt.icon:before,
    input[type="reset"].alt.icon:before,
    input[type="button"].alt.icon:before,
    button.alt.icon:before,
    .button.alt.icon:before {
      color: #bbb; }
  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #5AA6ED;
    color: #ffffff !important; }
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
      background-color: #71b2f0; }
    input[type="submit"].special:active,
    input[type="reset"].special:active,
    input[type="button"].special:active,
    button.special:active,
    .button.special:active {
      background-color: #439aea; }

/* Form */
form {
  margin: 0 0 2em 0; }

label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 1em 0; }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .select-wrapper:before {
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em; }
  .select-wrapper select::-ms-expand {
    display: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em; }

textarea {
  padding: 0.75em 1em; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 1px;
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  opacity: 1.0; }

:-moz-placeholder {
  opacity: 1.0; }

::-moz-placeholder {
  opacity: 1.0; }

:-ms-input-placeholder {
  opacity: 1.0; }

.formerize-placeholder {
  opacity: 1.0; }

label {
  color: #555; }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25); }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border-color: #5AA6ED;
    box-shadow: 0 0 0 1px #5AA6ED; }

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25); }

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #444; }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-color: rgba(144, 144, 144, 0.25); }
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #5AA6ED;
  border-color: #5AA6ED;
  color: #ffffff; }
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #5AA6ED;
  box-shadow: 0 0 0 1px #5AA6ED; }

::-webkit-input-placeholder {
  color: #bbb !important; }

:-moz-placeholder {
  color: #bbb !important; }

::-moz-placeholder {
  color: #bbb !important; }

:-ms-input-placeholder {
  color: #bbb !important; }

.formerize-placeholder {
  color: #bbb !important; }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Image */
.video-wrapper {
  position: relative;
  padding-bottom: 40%;
  /* 16:9 */
  padding-top: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: 100%; }
  @media screen and (max-width: 1280px) {
    .video-wrapper {
      padding-bottom: 60%; } }
  @media screen and (max-width: 980px) {
    .video-wrapper {
      padding-bottom: 82%; } }
  @media screen and (max-width: 736px) {
    .video-wrapper {
      display: block;
      padding-bottom: 0; }
      .video-wrapper iframe {
        top: initial;
        left: initial;
        position: relative;
        height: 528px !important;
        max-width: 100% !important; } }

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative; }
  .image img {
    border-radius: 4px;
    display: block; }
  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em; }
  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em; }
  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    .image.fit img {
      width: 100%; }
  .image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%; }
    .image.main img {
      width: 100%; }

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }
  ol li {
    padding-left: 0.25em; }

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.alt {
    list-style: none;
    padding-left: 0; }
    ul.alt li {
      border-top: solid 1px;
      padding: 0.5em 0; }
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 2em; }
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5em 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1em 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5em; }
    @media screen and (max-width: 480px) {
      ul.actions {
        margin: 0 0 2em 0; }
        ul.actions li {
          padding: 1em 0 0 0;
          display: block;
          text-align: center;
          width: 100%; }
          ul.actions li:first-child {
            padding-top: 0; }
          ul.actions li > * {
            width: 100%;
            margin: 0 !important; }
            ul.actions li > *.icon:before {
              margin-left: -2em; }
        ul.actions.small li {
          padding: 0.5em 0 0 0; }
          ul.actions.small li:first-child {
            padding-top: 0; } }

dl {
  margin: 0 0 2em 0; }
  dl dt {
    display: block;
    font-weight: bold;
    margin: 0 0 1em 0; }
  dl dd {
    margin-left: 2em; }

ul.alt li {
  border-top-color: rgba(144, 144, 144, 0.25); }

/* Pagination */
.cb_pager {
  text-align: center;
  margin: 2em auto; }
  .cb_pager .button {
    margin: .25em; }
  @media screen and (max-width: 480px) {
    .cb_pager .button {
      width: 90%;
      margin: .25em auto;
      display: block; } }

/* Section/Article */
section.special, article.special {
  text-align: center; }

header p {
  position: relative;
  margin: 0 0 1.5em 0; }
header h2 + p {
  font-size: 1.25em;
  margin-top: -1em; }
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em; }
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em; }

header p {
  color: #bbb; }

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0; }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  table thead {
    border-bottom: solid 2px; }
  table tfoot {
    border-top: solid 2px; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

table tbody tr {
  border-color: rgba(144, 144, 144, 0.25); }
  table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075); }
table th {
  color: #555; }
table thead {
  border-bottom-color: rgba(144, 144, 144, 0.25); }
table tfoot {
  border-top-color: rgba(144, 144, 144, 0.25); }
table.alt tbody tr td {
  border-color: rgba(144, 144, 144, 0.25); }

/* Thumbnail */
@-moz-keyframes gallery {
  100% {
    opacity: 1; } }
@-webkit-keyframes gallery {
  100% {
    opacity: 1; } }
@-ms-keyframes gallery {
  100% {
    opacity: 1; } }
@keyframes gallery {
  100% {
    opacity: 1; } }
.gallery {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

.thumbnail, .thumbnail_ad {
  /* 
  	Controls the width of your thumbnails ie... helps you control the column width. 
  	So if you wanted 4 coulumns just set the width to 25%, etc... 
  */
  width: 20%;
  /* Special ad classes in case you want to style specific ads */ }
  @media screen and (max-width: 980px) {
    .thumbnail, .thumbnail_ad {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .thumbnail, .thumbnail_ad {
      width: 100%; } }

.thumbnail {
  -moz-animation: gallery 0.75s ease-out 0.4s forwards;
  -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
  -ms-animation: gallery 0.75s ease-out 0.4s forwards;
  animation: gallery 0.75s ease-out 0.4s forwards;
  position: relative;
  overflow: hidden;
  opacity: 0; }
  .thumbnail:hover .overlay {
    top: 0;
    left: 0; }
  .thumbnail .image {
    margin: 0;
    border-radius: 0; }
    .thumbnail .image img {
      border-radius: 0; }
  .thumbnail .overlay {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff; }
    .thumbnail .overlay:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
      /* Adjusts for spacing */ }
    .thumbnail .overlay:hover .button {
      -moz-transform: scale(1.075);
      -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
      transform: scale(1.075); }
    .thumbnail .overlay .content {
      display: inline-block;
      vertical-align: middle; }
      .thumbnail .overlay .content .button {
        -moz-transition: -moz-transform 0.4s ease-in;
        -webkit-transition: -webkit-transform 0.4s ease-in;
        -ms-transition: -ms-transform 0.4s ease-in;
        transition: transform 0.4s ease-in; }
        @media screen and (max-width: 736px) {
          .thumbnail .overlay .content .button {
            padding: 0 2em; } }
    .thumbnail .overlay .link {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0; }
      .thumbnail .overlay .link span {
        display: none; }
    .thumbnail .overlay h3 {
      margin-bottom: .5em;
      color: #fff; }
  .thumbnail .slideleft {
    left: 100%;
    top: 0; }
  .thumbnail .slideright {
    left: -100%;
    top: 0; }
  .thumbnail .slidedown {
    left: 0;
    top: -100%; }
  .thumbnail .slideup {
    left: 0;
    top: 100%; }
  @media screen and (max-width: 736px) {
    .thumbnail {
      font-size: .8em; } }
  @media screen and (max-width: 480px) {
    .thumbnail {
      font-size: 1em; }
      .thumbnail ul.actions li {
        display: inline-block;
        width: auto;
        vertical-align: top;
        padding: 0 1em; } }

/* Wrapper */
.wrapper {
  position: relative; }
  .wrapper > .inner {
    margin: 0 auto;
    width: 60em; }
  .wrapper.style1 {
    background-color: #5AA6ED;
    color: #d6e9fb; }
    .wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
      color: #ffffff; }
    .wrapper.style1 a {
      color: #ffffff; }
    .wrapper.style1 strong, .wrapper.style1 b {
      color: #ffffff; }
    .wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
      color: #ffffff; }
    .wrapper.style1 blockquote {
      border-left-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 hr {
      border-bottom-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 .box {
      border-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 input[type="submit"],
    .wrapper.style1 input[type="reset"],
    .wrapper.style1 input[type="button"],
    .wrapper.style1 button,
    .wrapper.style1 .button {
      background-color: #3a3a3a;
      color: #ffffff !important; }
      .wrapper.style1 input[type="submit"]:hover,
      .wrapper.style1 input[type="reset"]:hover,
      .wrapper.style1 input[type="button"]:hover,
      .wrapper.style1 button:hover,
      .wrapper.style1 .button:hover {
        background-color: #474747; }
      .wrapper.style1 input[type="submit"]:active,
      .wrapper.style1 input[type="reset"]:active,
      .wrapper.style1 input[type="button"]:active,
      .wrapper.style1 button:active,
      .wrapper.style1 .button:active {
        background-color: #2d2d2d; }
      .wrapper.style1 input[type="submit"].alt,
      .wrapper.style1 input[type="reset"].alt,
      .wrapper.style1 input[type="button"].alt,
      .wrapper.style1 button.alt,
      .wrapper.style1 .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
        color: #ffffff !important; }
        .wrapper.style1 input[type="submit"].alt:hover,
        .wrapper.style1 input[type="reset"].alt:hover,
        .wrapper.style1 input[type="button"].alt:hover,
        .wrapper.style1 button.alt:hover,
        .wrapper.style1 .button.alt:hover {
          background-color: rgba(255, 255, 255, 0.075); }
        .wrapper.style1 input[type="submit"].alt:active,
        .wrapper.style1 input[type="reset"].alt:active,
        .wrapper.style1 input[type="button"].alt:active,
        .wrapper.style1 button.alt:active,
        .wrapper.style1 .button.alt:active {
          background-color: rgba(255, 255, 255, 0.2); }
        .wrapper.style1 input[type="submit"].alt.icon:before,
        .wrapper.style1 input[type="reset"].alt.icon:before,
        .wrapper.style1 input[type="button"].alt.icon:before,
        .wrapper.style1 button.alt.icon:before,
        .wrapper.style1 .button.alt.icon:before {
          color: #bddbf8; }
      .wrapper.style1 input[type="submit"].special,
      .wrapper.style1 input[type="reset"].special,
      .wrapper.style1 input[type="button"].special,
      .wrapper.style1 button.special,
      .wrapper.style1 .button.special {
        background-color: #ffffff;
        color: #5AA6ED !important; }
    .wrapper.style1 label {
      color: #ffffff; }
    .wrapper.style1 input[type="text"],
    .wrapper.style1 input[type="password"],
    .wrapper.style1 input[type="email"],
    .wrapper.style1 select,
    .wrapper.style1 textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
      .wrapper.style1 input[type="text"]:focus,
      .wrapper.style1 input[type="password"]:focus,
      .wrapper.style1 input[type="email"]:focus,
      .wrapper.style1 select:focus,
      .wrapper.style1 textarea:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff; }
    .wrapper.style1 .select-wrapper:before {
      color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 input[type="checkbox"] + label,
    .wrapper.style1 input[type="radio"] + label {
      color: #d6e9fb; }
      .wrapper.style1 input[type="checkbox"] + label:before,
      .wrapper.style1 input[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 input[type="checkbox"]:checked + label:before,
    .wrapper.style1 input[type="radio"]:checked + label:before {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #5AA6ED; }
    .wrapper.style1 input[type="checkbox"]:focus + label:before,
    .wrapper.style1 input[type="radio"]:focus + label:before {
      border-color: #ffffff;
      box-shadow: 0 0 0 1px #ffffff; }
    .wrapper.style1 ::-webkit-input-placeholder {
      color: #bddbf8 !important; }
    .wrapper.style1 :-moz-placeholder {
      color: #bddbf8 !important; }
    .wrapper.style1 ::-moz-placeholder {
      color: #bddbf8 !important; }
    .wrapper.style1 :-ms-input-placeholder {
      color: #bddbf8 !important; }
    .wrapper.style1 .formerize-placeholder {
      color: #bddbf8 !important; }
    .wrapper.style1 ul.alt li {
      border-top-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 header p {
      color: #bddbf8; }
    .wrapper.style1 table tbody tr {
      border-color: rgba(255, 255, 255, 0.25); }
      .wrapper.style1 table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0.075); }
    .wrapper.style1 table th {
      color: #ffffff; }
    .wrapper.style1 table thead {
      border-bottom-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 table tfoot {
      border-top-color: rgba(255, 255, 255, 0.25); }
    .wrapper.style1 table.alt tbody tr td {
      border-color: rgba(255, 255, 255, 0.25); }
  .wrapper.style2 {
    background-color: #3a3a3a;
    color: #cecece; }
    .wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
      color: #ffffff; }
    .wrapper.style2 a {
      color: #5AA6ED; }
    .wrapper.style2 strong, .wrapper.style2 b {
      color: #ffffff; }
    .wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
      color: #ffffff; }
    .wrapper.style2 blockquote {
      border-left-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 hr {
      border-bottom-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 .box {
      border-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 input[type="submit"],
    .wrapper.style2 input[type="reset"],
    .wrapper.style2 input[type="button"],
    .wrapper.style2 button,
    .wrapper.style2 .button {
      background-color: #ffffff;
      color: #3a3a3a !important; }
      .wrapper.style2 input[type="submit"].alt,
      .wrapper.style2 input[type="reset"].alt,
      .wrapper.style2 input[type="button"].alt,
      .wrapper.style2 button.alt,
      .wrapper.style2 .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
        color: #ffffff !important; }
        .wrapper.style2 input[type="submit"].alt:hover,
        .wrapper.style2 input[type="reset"].alt:hover,
        .wrapper.style2 input[type="button"].alt:hover,
        .wrapper.style2 button.alt:hover,
        .wrapper.style2 .button.alt:hover {
          background-color: rgba(255, 255, 255, 0.075); }
        .wrapper.style2 input[type="submit"].alt:active,
        .wrapper.style2 input[type="reset"].alt:active,
        .wrapper.style2 input[type="button"].alt:active,
        .wrapper.style2 button.alt:active,
        .wrapper.style2 .button.alt:active {
          background-color: rgba(255, 255, 255, 0.2); }
        .wrapper.style2 input[type="submit"].alt.icon:before,
        .wrapper.style2 input[type="reset"].alt.icon:before,
        .wrapper.style2 input[type="button"].alt.icon:before,
        .wrapper.style2 button.alt.icon:before,
        .wrapper.style2 .button.alt.icon:before {
          color: #b0b0b0; }
      .wrapper.style2 input[type="submit"].special,
      .wrapper.style2 input[type="reset"].special,
      .wrapper.style2 input[type="button"].special,
      .wrapper.style2 button.special,
      .wrapper.style2 .button.special {
        background-color: #5AA6ED;
        color: #ffffff !important; }
        .wrapper.style2 input[type="submit"].special:hover,
        .wrapper.style2 input[type="reset"].special:hover,
        .wrapper.style2 input[type="button"].special:hover,
        .wrapper.style2 button.special:hover,
        .wrapper.style2 .button.special:hover {
          background-color: #71b2f0; }
        .wrapper.style2 input[type="submit"].special:active,
        .wrapper.style2 input[type="reset"].special:active,
        .wrapper.style2 input[type="button"].special:active,
        .wrapper.style2 button.special:active,
        .wrapper.style2 .button.special:active {
          background-color: #439aea; }
    .wrapper.style2 label {
      color: #ffffff; }
    .wrapper.style2 input[type="text"],
    .wrapper.style2 input[type="password"],
    .wrapper.style2 input[type="email"],
    .wrapper.style2 select,
    .wrapper.style2 textarea {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.15); }
      .wrapper.style2 input[type="text"]:focus,
      .wrapper.style2 input[type="password"]:focus,
      .wrapper.style2 input[type="email"]:focus,
      .wrapper.style2 select:focus,
      .wrapper.style2 textarea:focus {
        border-color: #5AA6ED;
        box-shadow: 0 0 0 1px #5AA6ED; }
    .wrapper.style2 .select-wrapper:before {
      color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 input[type="checkbox"] + label,
    .wrapper.style2 input[type="radio"] + label {
      color: #cecece; }
      .wrapper.style2 input[type="checkbox"] + label:before,
      .wrapper.style2 input[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 input[type="checkbox"]:checked + label:before,
    .wrapper.style2 input[type="radio"]:checked + label:before {
      background-color: #5AA6ED;
      border-color: #5AA6ED;
      color: #ffffff; }
    .wrapper.style2 input[type="checkbox"]:focus + label:before,
    .wrapper.style2 input[type="radio"]:focus + label:before {
      border-color: #5AA6ED;
      box-shadow: 0 0 0 1px #5AA6ED; }
    .wrapper.style2 ::-webkit-input-placeholder {
      color: #b0b0b0 !important; }
    .wrapper.style2 :-moz-placeholder {
      color: #b0b0b0 !important; }
    .wrapper.style2 ::-moz-placeholder {
      color: #b0b0b0 !important; }
    .wrapper.style2 :-ms-input-placeholder {
      color: #b0b0b0 !important; }
    .wrapper.style2 .formerize-placeholder {
      color: #b0b0b0 !important; }
    .wrapper.style2 ul.alt li {
      border-top-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 header p {
      color: #b0b0b0; }
    .wrapper.style2 table tbody tr {
      border-color: rgba(255, 255, 255, 0.15); }
      .wrapper.style2 table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0.075); }
    .wrapper.style2 table th {
      color: #ffffff; }
    .wrapper.style2 table thead {
      border-bottom-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 table tfoot {
      border-top-color: rgba(255, 255, 255, 0.15); }
    .wrapper.style2 table.alt tbody tr td {
      border-color: rgba(255, 255, 255, 0.15); }
  @media screen and (max-width: 1280px) {
    .wrapper > .inner {
      width: 65em; } }
  @media screen and (max-width: 980px) {
    .wrapper > .inner {
      width: 100%; } }

/* Header */
body {
  padding-top: 3.125em; }

#header {
  background: #1b1b1b;
  color: #cecece;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001; }
  #header > h1 {
    color: #ffffff;
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0; }
    #header > h1 a {
      font-size: 1.25em; }
  #header > a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none; }
    #header > a:hover {
      color: #ffffff; }
    #header > a[href="#menu"] {
      text-decoration: none;
      -webkit-tap-highlight-color: transparent; }
      #header > a[href="#menu"]:before {
        content: "";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }
      #header > a[href="#menu"]:before {
        margin: 0 0.5em 0 0; }
    #header > a + a[href="#menu"]:last-child {
      border-left: solid 1px rgba(255, 255, 255, 0.15);
      padding-left: 1.25em;
      margin-left: 0.5em; }
    #header > a:last-child {
      padding-right: 1.25em; }
    @media screen and (max-width: 736px) {
      #header > a {
        padding: 0 0.5em; }
        #header > a + a[href="#menu"]:last-child {
          padding-left: 1em;
          margin-left: 0.25em; }
        #header > a:last-child {
          padding-right: 1em; } }

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px; }

  #header {
    height: 44px;
    line-height: 44px; }
    #header > h1 {
      left: 1em; }
      #header > h1 a {
        font-size: 1em; } }
@media screen and (max-width: 736px) {
  #header {
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px; } }
/* Menu */
#menu {
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #1b1b1b;
  box-shadow: none;
  color: #ffffff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002; }
  #menu > ul {
    margin: 0 0 1em 0; }
    #menu > ul.links {
      list-style: none;
      padding: 0; }
      #menu > ul.links > li {
        padding: 0; }
        #menu > ul.links > li > a:not(.button) {
          border: 0;
          border-top: solid 1px rgba(255, 255, 255, 0.15);
          color: inherit;
          display: block;
          line-height: 3.5em;
          text-decoration: none; }
        #menu > ul.links > li > .button {
          display: block;
          margin: 0.5em 0 0 0; }
        #menu > ul.links > li:first-child > a:not(.button) {
          border-top: 0 !important; }
  #menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #b0b0b0;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em; }
    #menu .close:before {
      content: "";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    #menu .close:before {
      font-size: 1.25em; }
    #menu .close:hover {
      color: #ffffff; }
    @media screen and (max-width: 736px) {
      #menu .close {
        height: 4em;
        line-height: 4em; } }
  #menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible; }
  @media screen and (max-width: 736px) {
    #menu {
      padding: 2.5em 1.75em; } }

/* Banner */
#banner {
  position: relative;
  background-color: #f6f6f6;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  white-space: nowrap; }
  #banner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */ }
  #banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10; }
  #banner .content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 2em;
    z-index: 11;
    width: 100%;
    white-space: normal; }
  #banner h2 {
    font-size: 4em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #fff; }
  #banner p {
    font-size: 1.5em;
    margin-bottom: 1.75em;
    color: #fff; }
  @media screen and (max-width: 1280px) {
    #banner h2 {
      font-size: 3.5em; } }
  @media screen and (max-width: 736px) {
    #banner h2 {
      font-size: 2em; }
    #banner p {
      font-size: 1.25em; } }
  @media screen and (max-width: 480px) {
    #banner {
      height: 30em; } }

/* Main */
#content {
  padding: 6em 0; }
  #content .inner {
    padding: 0 1em; }
  @media screen and (max-width: 736px) {
    #content {
      padding: 2em 0; } }

#related header {
  background: #3a3a3a;
  text-align: center;
  padding: 2em; }
  #related header h2 {
    color: #fff;
    margin: 0; }

.solo {
  padding: 4em; }

.flex {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }
  .flex .flex-item {
    width: 45%; }
    @media screen and (max-width: 980px) {
      .flex .flex-item {
        width: 100%; } }

/* Footer */
#footer {
  padding: 4em 0 2em 0 ;
  background: #f2f2f2; }
  #footer .content {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch; }
    #footer .content .column {
      width: 25%;
      padding: 0 2em; }
  #footer .copyright {
    text-align: center;
    padding: 0 2em; }
  @media screen and (max-width: 736px) {
    #footer {
      padding: 3em 0 1em 0 ;
      text-align: center; }
      #footer .content .column {
        width: 50%; } }
  @media screen and (max-width: 480px) {
    #footer .content .column {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
