/* Main */

	#main {
		
		@include breakpoint(small) {
			
		}

	}

	#content {
		padding: 6em 0;

		@include breakpoint(small) {
			padding: 2em 0;
		}
	}

	#related {
		header {
			background: _palette(accent2,bg);
			text-align:center;
			padding: 2em;
			h2 { 
				color: _palette(bg);
				margin: 0;
			}
		}
	}