/* Thumbnail */

	.thumbnail {
		position: relative;
		overflow: hidden;
		
		&:hover .overlay {
			top: 0;
			left: 0;
		}		
		
		.image {
			margin: 0;
			border-radius: 0;
			
			img {
				border-radius: 0;
			}
			
		}
		
		.overlay {
			@include vendor('transition', 'all #{_duration(transition)} ease-in-out');
			position: absolute;			
			width: 100%;
			height: 100%;
			text-align: center;
			background: rgba(0,0,0,0.8);
			color: _palette(bg);
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */			
			}
			
			.content {
				display: inline-block;
				vertical-align: middle;	

				.button {
					@include breakpoint(small) {
						padding: 0 2em;
					}
				}	

			}
			
			h3 {
				margin-bottom: .5em;
				color: _palette(bg);
			}
		}
		
		.slideleft {
			left: 100%;
			top: 0;
		}
			
		.slideright {
			left: -100%;
			top: 0;
		}

		.slidedown {
			left: 0;
			top: -100%;			
		}
		
		.slideup {
			left: 0;
			top: 100%;			
		}		
		
		@include breakpoint(xlarge) {
			
		}

		@include breakpoint(large) {
			
		}

		@include breakpoint(medium) {
		
		}

		@include breakpoint(small) {
			
		}

		@include breakpoint(xsmall) {
			
		}
	}