/* Footer */

	#footer {
		@include padding(4em, 0);
		background: #f2f2f2;

		.content {
			display: -ms-flexbox;	
			@include vendor('display', 'flex');	
			@include vendor('flex-wrap', 'wrap');
			@include vendor('justify-content', 'flex-start');
			@include vendor('align-items', 'stretch');

			.column {
				width: 25%;
				padding: 0 2em;
			}
		}

		.copyright {
			text-align:center;
			padding: 0 2em;
		}

		@include breakpoint(small) {
			@include padding(3em, 0);
			text-align:center;

			.content {
				.column {
					width: 50%;
				}				
			}
	
		}

		@include breakpoint(xsmall) {
			.content {
				.column {
					width: 100%;
				}				
			}
	
		}		
	}