/* Main */

	#main {
		
		@include breakpoint(small) {
			
		}

	}

	#content {
		padding: 6em 0;

		.inner {
			padding: 0 1em;
		}

		@include breakpoint(small) {
			padding: 2em 0;
		}
	}

	#related {
		header {
			background: _palette(accent2,bg);
			text-align:center;
			padding: 2em;
			h2 { 
				color: _palette(bg);
				margin: 0;
			}
		}
	}

	.solo {
		padding: 4em;
	}

	.flex {
		display: -ms-flexbox;	
		@include vendor('display', 'flex');	
		@include vendor('flex-wrap', 'wrap');
		@include vendor('justify-content', 'space-between');
		@include vendor('align-items', 'stretch');		

		.flex-item {
			width: 45%;

			@include breakpoint(medium) {
				width: 100%;
			}
		}
	}