/* Pagination */

	.cb_pager {
		text-align:center;
		margin: 2em auto;

		.button {
			margin: .25em;
		}

		@include breakpoint(xsmall) {
			.button { 
				width: 90%; 
				margin: .25em auto;
				display: block;
			}
		
		}

	}