/* Thumbnail */

	@include keyframes(gallery) {
		0% {}

		100% {
			opacity: 1;
		}
	}

	.gallery {
			display: -ms-flexbox;	
			@include vendor('display', 'flex');	
			@include vendor('flex-wrap', 'wrap');
			@include vendor('justify-content', 'flex-start');
			@include vendor('align-items', 'stretch');
	}

	.thumbnail, .thumbnail_ad {
		/* 
			Controls the width of your thumbnails ie... helps you control the column width. 
			So if you wanted 4 coulumns just set the width to 25%, etc... 
		*/
			width: 20%;

		/* Special ad classes in case you want to style specific ads */

			&.ad1 {

			}

			&.ad2 {
				
			}

			&.ad3 {
				
			}

			&.ad4 {
				
			}		

		@include breakpoint(medium) {
			width: 50%;
		}

		@include breakpoint(xsmall) {
			width: 100%;
		}
	}

	.thumbnail {
		@include vendor('animation', 'gallery 0.75s ease-out #{_duration(transition) * 2 } forwards');
		position: relative;
		overflow: hidden;
		opacity: 0;
		
		
		&:hover .overlay {
			top: 0;
			left: 0;
		}		
		
		.image {
			margin: 0;
			border-radius: 0;
			
			img {
				border-radius: 0;
			}	
		}
		
		.overlay {
			@include vendor('transition', 'all #{_duration(transition)} ease-in-out');
			position: absolute;			
			width: 100%;
			height: 100%;
			text-align: center;
			background: rgba(0,0,0,0.8);
			color: _palette(bg);
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */			
			}

			&:hover {
				.button {
					@include vendor('transform', 'scale(1.075)');
				}
			}			
			
			.content {
				display: inline-block;
				vertical-align: middle;	

				.button {
					@include vendor('transition', 'transform #{_duration(transition) * 2} ease-in');
				
					@include breakpoint(small) {
						padding: 0 2em;
					}
				}	

			}

			.link {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;

				span {
					display: none;
				}
			}
			
			h3 {
				margin-bottom: .5em;
				color: _palette(bg);
			}
		}
		
		.slideleft {
			left: 100%;
			top: 0;
		}
			
		.slideright {
			left: -100%;
			top: 0;
		}

		.slidedown {
			left: 0;
			top: -100%;			
		}
		
		.slideup {
			left: 0;
			top: 100%;			
		}		
		
		@include breakpoint(xlarge) {
			
		}

		@include breakpoint(large) {
			
		}

		@include breakpoint(medium) {
		}

		@include breakpoint(small) {
			font-size: .8em;
		}

		@include breakpoint(xsmall) {
			font-size: 1em;

			ul {
				&.actions {
					li {
						display: inline-block;
						width: auto;
						vertical-align: top;
						padding: 0 1em;
					}
				}
			}
		}
	}