/* Wrapper */

	.wrapper {
		position: relative;

		> .inner {
			margin: 0 auto;
			width: 60em;
		}

		&.style1 {
			@include color(accent1);
		}

		&.style2 {
			@include color(accent2);
		}

		@include breakpoint(large) {
			> .inner {
				width: 65em;
			}
		}

		@include breakpoint(medium) {
			> .inner {
				width: 100%;
			}
		}
	}