/* Banner */

	#banner {
		position: relative;
		background-color: #f6f6f6;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		height: 100vh;
		white-space: nowrap;
		
		&:before {
		  	content: '';
		  	display: inline-block;
		  	height: 100%;
		  	vertical-align: middle;
		  	margin-right: -0.25em; /* Adjusts for spacing */
		}

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(0,0,0,0.75);
			z-index: 10;
		}

		.content {
			position: relative;
  			display: inline-block;
  			vertical-align: middle;
  			padding: 0 2em;
  			z-index: 11;
  			width: 100%;
  			white-space: normal;
		}

		h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
			color: _palette(bg);
		}

		p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
			color: _palette(bg);
		}

		@include breakpoint(xlarge) {
		
		}

		@include breakpoint(large) {

			h2 {
				font-size: 3.5em;
			}
		}

		@include breakpoint(medium) {
			
		}

		@include breakpoint(small) {
			h2 {
				font-size: 2em;
			}

			p {
				font-size: 1.25em;
			}
		}

		@include breakpoint(xsmall) {
			height: 30em;
		}
	}