/* Main */

	#main {
		padding: 2em;
		header {
			@include vendor('display', 'flex');
			@include vendor('justify-content', 'space-between');
			@include vendor('align-items', 'center');
			padding: 0 0 2em 0;	

			h2 {
				margin: 0;
			}

		}
		

		@include breakpoint(medium) {

			header {
				@include vendor('flex-direction', 'column');
				text-align:center;
				h2 {
					margin-bottom: 1em;
				}
				.button { width: 100%; }
			}
		
		}
	}